<div class="auth-container">

    <!-- LEFT PANEL -->
    <div class="auth-left">
        <h1 id="welcomeTitle"></h1>
        <p id="welcomeDesc"></p>
        <button id="leftSignupBtn"></button>
    </div>

    <!-- RIGHT PANEL -->
    <div class="auth-right">

        <h2 id="loginTitle"></h2>

        <input id="usernameInput" type="text" placeholder="">
        <input id="passwordInput" type="password" placeholder="">

        <button id="signInBtn"></button>

        <div class="link" id="createAccountText"></div>

    </div>

</div>
