<div class="auth-container">

    <div class="auth-left">
        <h1 id="welcomeTitle"></h1>
        <p id="welcomeDesc"></p>
        <button id="goToLoginBtn"></button>
    </div>

    <div class="auth-right">
        <h2 id="signupTitle"></h2>

        <input id="signupName" type="text">
        <input id="signupEmail" type="email">
        <input id="signupPassword" type="password">

        <button id="signupSubmitBtn"></button>

        <div class="link" id="alreadyAccountText"></div>
    </div>

</div>
